* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#icons-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

#icons-container::after {
    content: '';
    clear: both;
    display: table;
}

.icon {
    float: left;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter {
    text-align: center;
    margin: 20px;
}

